@tailwind base;
* {
  @apply font-display;
}

@tailwind components;
video {
  @apply h-full w-auto rounded-lg object-cover shadow-lg;
}

.camera-ring {
  @apply border-[#7c2dca];
}

.camera-ring-off {
  @apply border-[#4c485d];
}

.bg-primary {
  @apply bg-[#181622];
}

.bg-secondary {
  @apply bg-[#13111c];
}

.container-noHero {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
}

.container-Hero {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    'hero hero .'
    'hero hero .'
    '. . .';
}

.hero {
  grid-area: hero;
}

@tailwind utilities;
